# Hi, I'm Ronny 👋

<strong>I am a Señor Front-end Consultant and Developer at [iO Digital](https://www.iodigital.com/nl/home).</strong>


## Resources 📎
Twitter is the hotspot for finding developer resources and useful tips. I actively search it on a daily basis. Below you can find my latest saved resources.

{{#resources}}
* 📝 [{{title}}]({{{link}}}), ({{#tags}}[{{name}}](https://rnny.nl/resources/{{slug}}){{^isLast}}, {{/isLast}}{{/tags}})
{{/resources}}

## Social 📱
You can find me online on the following platforms or send me an email:
* 👔 [LinkedIn](https://www.linkedin.com/in/ronny-rook-02ab1622/)
* 🗣 [Twitter](https://twitter.com/rnnyrk)
* ✉️ [iam@ronnyrook.nl](mailto:iam@ronnyrook.nl)